// Variables
/* 
* fonts
* font sizes
* breakpoints
* transitions?
* colors
*/


// Colors

$gray-1: #f9f9f9;
$gray-2: #bbb;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;

/* These colors control individual parts of the website. For convenience some are linked to the main colors above, but feel free to adjust them independently. */
$body-color: $gray-4;
$body-bg: #fff;
$link-color: $primary;
$border-color: #e5e5e5;
$code-color: #bf616a;



// Typography

$root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$root-font-size: 16px;
$large-font-size: 20px;
$root-line-height: 1.5;

$header: 'Titillium Web', 'PT Sans', Arial, Helvetica, sans-serif;
$body: 'Tinos', 'PT Sans', Arial, Helvetica, sans-serif;
$code-font-family: Courier, 'Courier New', monospace;

$normal: 400;
$bold: 700;



/* Breakpoints */
$sphone: 30em;
$phone: 38em;
$phablet: 48em;
$tablet: 58em;
$desktop: 64em;