/*
 * Navigation
 *
 * Flexible banner that houses the site navigation. Starts out hidden behind hamburger 
 * menu on mobile and later expands along the top with wider viewports.
 */

#navigation {
  z-index: 999;
  padding: 1.3rem;
  position: absolute;
  left: 5rem;
  right: 3rem;
}


/* Navigation items */
.navbar, .navcontrols {
  position: absolute;
  right: 0;
}

.navbar ul li a {
  font-family: $sans;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
  text-decoration: underline;
}
.navbar ul li a.active {
  font-weight: $sans-bold;
}

.navcontrols {
  z-index: 1001;
  margin-top: 0.8rem;
}

.navcontrols a {
  font-family: $sans;
  font-size: 1.15rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: palette(gray, lighter);
}

.nav-open #menu, #close {
  display: none;
}

#menu, .nav-open #close {
  display: block;
}




@media (max-width: $sphone) {
  .navbar {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba($sidebar-overlay, 0.9);
    opacity: 0;
    transition: opacity 0s 0.5s,visibility 0s 0.5s ;
    -webkit-transition: opacity 0.5s,visibility 0.5s ;
    visibility: hidden;
  }

  .nav-open .navbar {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }
  .navbar nav {
    position: relative;
    height: 100%;
    text-align: center;
  }
  .navbar nav ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }
  .navbar ul li {
    width: 100%;
    padding: 0.5rem 0;
    font-weight: $sans-bold;
  }
}


@media (min-width: $sphone) {
  #navigation {
    z-index: 999;
    left: 5rem;
    right: 3rem;
    height: 4.5rem;
  }
  .navbar ul li a {
    margin-left: 2.5rem;
    font-size: 0.85rem;
  }
  .navcontrols {
    display: none;
  }
}


@media (min-width: $phablet) {
  #navigation {
    left: 21rem;
    background-color: white;
  }

  .navbar ul li a {
    color: palette($primary);
  }

  /* Headroom.js */
  .headroom {
    transition: transform 200ms linear;
    position: fixed!important;
  }
  .headroom--pinned {
    transform: translateY(0%);
  }
  .headroom--unpinned {
    transform: translateY(-100%);
  }
}