---
layout: default
font: macro
---

<article class="post{% if page.image or site.image %} entry-hasBackground{% endif %}">
  <div class="content-top">
    {% if page.image or site.image %}
      <div class="hero-background" style="background-image: url({{ site.baseurl }}{{ site.assets }}{{ site.images }}{% if page.image %}{{ page.ref }}-large.jpg{% elsif site.image %}{{ site.image }}{% endif %});"></div>
      <div class="hero-overlay"></div>
      {% include core/metabar.html color="-white" %}
    {% else %}
      {% include core/metabar.html %}
    {% endif %}
    <header class="content hero">
      <a id="{{ page.title | url_encode }}"><h1 class="hero-title">{% if page.description %}{{ page.description }}{% else %}{{ page.title }}{% endif %}</h1></a>
    </header>
  </div>

  <div class="content-bottom">
    <div class="content content-style">

      {{ content }}

      {% include core/share.html %}

    </div>
  </div>
</article>

{% include core/footer.html %}
